[user]
	name = Adrian Bruinhout
	email = adrian@webfella.com.au
[color]
	ui = auto
[core]
	excludesfile = /Users/adrianbruinhout/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	punch-it-chewy = push origin master
	use-the-force-luke = pull --rebase origin master
	booyah = status
	show-me-the-money = log --name-only
	do-it = commit -m
	fuckit = stash
	unfuckit = stash pop
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = osxkeychain